v6/flows.json
[
    {
        "id": "f81cf9592d3423da",
        "type": "tab",
        "label": "Milin Ivan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a34e7ec1f9448d49",
        "type": "inject",
        "z": "f81cf9592d3423da",
        "name": "Poruka",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Pedro pedro pedro",
        "payloadType": "str",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "01766a0b1817c15b"
            ]
        ]
    },
    {
        "id": "01766a0b1817c15b",
        "type": "debug",
        "z": "f81cf9592d3423da",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "7674b0c4e94620e6",
        "type": "comment",
        "z": "f81cf9592d3423da",
        "name": "Primer1",
        "info": "MQTT (Message Queuing\nTelemetry Transport) je protokol\naplikativnog sloja zasnovan na\npublish-subscribe arhitekturi\n\nOvo je prvi primer salje se od \"inject\" \nka debugu i citas poruku tamo gde je \nsimbol bube.",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "dac59cd236c07fd9",
        "type": "ui_slider",
        "z": "f81cf9592d3423da",
        "name": "",
        "label": "klizac",
        "tooltip": "",
        "group": "e42205fcd5a28b89",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": "0.1",
        "className": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "fe93fe7d49d6b73b",
                "5127209a885cadf4"
            ]
        ]
    },
    {
        "id": "fe93fe7d49d6b73b",
        "type": "ui_gauge",
        "z": "f81cf9592d3423da",
        "name": "",
        "group": "e42205fcd5a28b89",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "skazaljka",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "5127209a885cadf4",
        "type": "ui_chart",
        "z": "f81cf9592d3423da",
        "name": "",
        "group": "40c30e546ee1b283",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "grafik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "915f66be90f7d3a3",
        "type": "ui_button",
        "z": "f81cf9592d3423da",
        "name": "",
        "group": "43cdd5d8c15600fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "ESP32/milin_led",
        "topicType": "msg",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "61e3c6b6e057e4c5",
                "17464537fb90516a"
            ]
        ]
    },
    {
        "id": "db601859a8eead72",
        "type": "ui_button",
        "z": "f81cf9592d3423da",
        "name": "",
        "group": "43cdd5d8c15600fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "ESP32/milin_led",
        "topicType": "msg",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "61e3c6b6e057e4c5",
                "17464537fb90516a"
            ]
        ]
    },
    {
        "id": "61e3c6b6e057e4c5",
        "type": "ui_text",
        "z": "f81cf9592d3423da",
        "group": "43cdd5d8c15600fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED : ",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "17464537fb90516a",
        "type": "mqtt out",
        "z": "f81cf9592d3423da",
        "name": "",
        "topic": "ESP32/milin_led",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aaf3d9d19edf33bf",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "481de0a78ae46240",
        "type": "mqtt in",
        "z": "f81cf9592d3423da",
        "name": "",
        "topic": "ESP32/milin_led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aaf3d9d19edf33bf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "b172983b8b302d70"
            ]
        ]
    },
    {
        "id": "b172983b8b302d70",
        "type": "debug",
        "z": "f81cf9592d3423da",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 640,
        "wires": []
    },
    {
        "id": "80da5f8bb676d601",
        "type": "ui_slider",
        "z": "f81cf9592d3423da",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "53023e946a5fac2d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "ESP32/milin_pwm",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": "10",
        "className": "",
        "x": 290,
        "y": 740,
        "wires": [
            [
                "a3a310385c1e5dfb"
            ]
        ]
    },
    {
        "id": "a3a310385c1e5dfb",
        "type": "mqtt out",
        "z": "f81cf9592d3423da",
        "name": "",
        "topic": "ESP32/milin_pwm",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f984bd27f7cb6a93",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "b5d19b40ef49a3c4",
        "type": "mqtt in",
        "z": "f81cf9592d3423da",
        "name": "",
        "topic": "ESP32/milin_pwm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f984bd27f7cb6a93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 820,
        "wires": [
            [
                "5e6ce85fd1aadf9a"
            ]
        ]
    },
    {
        "id": "5e6ce85fd1aadf9a",
        "type": "debug",
        "z": "f81cf9592d3423da",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 820,
        "wires": []
    },
    {
        "id": "e42205fcd5a28b89",
        "type": "ui_group",
        "name": "klizac i skazaljka",
        "tab": "c250c75711e009c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "40c30e546ee1b283",
        "type": "ui_group",
        "name": "grafik",
        "tab": "c250c75711e009c8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43cdd5d8c15600fc",
        "type": "ui_group",
        "name": "LED kontrola",
        "tab": "c250c75711e009c8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aaf3d9d19edf33bf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ues.edu.rs",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "53023e946a5fac2d",
        "type": "ui_group",
        "name": "pwm",
        "tab": "c250c75711e009c8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f984bd27f7cb6a93",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ues.edu.rs",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c250c75711e009c8",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]